@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  pointer-events: all;
  background-color: black;
  overflow-x: hidden !important;
  font-family: "Exo";
}
header {
  height: 130px;
  z-index: 20;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}
.navBar {
  height: 80%;
  width: 87%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: white;
  font-family: "Exo 2";
  font-size: 30px;
  font-weight: 500;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  list-style-type: none;
}
.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Orbitron";
}
.nav-item {
  transition: 0.3s;
}
.nav-item:hover {
  color: #6f00a9;
}
.icons {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: aqua; */
}
.icons i {
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.icons i:hover {
  color: #6f00a9;
}
#mob-icons {
  display: none;
  /* color: white; */
}
.side-menu {
  display: none;
}
/* hero-section */
.hero {
  height: 600px;
  width: 100%;
  background: url(./assets/bgimage.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.left-text {
  height: 80%;
  width: 45%;
  /* background: #f73939; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.left-text .jimmy {
  text-transform: uppercase;
  color: white;
  font-family: "Exo";
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0px;
  width: 150px;
  background: url(./assets/Line.png) no-repeat bottom;
}
.left-text h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Exo 2";
  font-size: 5.5vw;
}
.left-text p {
  font-size: 20px;
  font-family: "Exo";
  color: white;
  margin-top: 10px;
}
.left-text .hero-btn {
  height: 50px;
  width: 250px;
  border: none;
  font-family: "Orbitron";
  color: white;
  background-color: #6f00a9;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.hero-btn:hover {
  background-color: black;
  color: #6f00a9;
  border: 1px solid #6f00a9;
}
.right-cont {
  height: 100%;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background-color: aliceblue; */
}
.man {
  width: 350px;
}
.current1 {
  position: absolute;
  right: -2px;
  width: 280px;
}
.current2 {
  position: absolute;
  right: 30%;
  width: 280px;
}
.ae {
  position: absolute;
  top: 38%;
  right: 5%;
}
.pr {
  position: absolute;
  top: 30%;
  right: 37%;
}
.about {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: blanchedalmond; */
}
.abt-head {
  /* background-color: aqua; */
  padding: 16px 50px;
  background: url(./assets/Line2.png) no-repeat;
  background-position: bottom;
}
.abt-head h1 {
  font-size: 5vw;
  text-transform: uppercase;
  color: white;
  font-family: "Exo";
}
.marque {
  display: none;
}
.abt-cont {
  height: 20%;
  width: 70%;
  /* background-color: aliceblue; */
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.desk-slider {
  height: 60px;
  width: 80%;
  display: flex;
  overflow: hidden;
  align-items: center;
  /* background-color: antiquewhite; */
}
.marque2 {
  display: flex;
  height: 40px;
  width: 100%;
  /* overflow-x: hidden; */
  /* width: 100%; */
  gap: 20px;
  align-items: center;
  /* background-color: aqua; */
  /* margin-top: 20px; */
  justify-content: space-between;
  transform: translateX(100%);
}
.mark {
  gap: 13px;
  display: flex;
  text-wrap: nowrap;
  font-family: "Orbitron";
  font-size: 20px;
  font-weight: 500;
  color: white;
  align-items: center;
}
.edits {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: blanchedalmond; */
}
.edit-head {
  display: flex;
  justify-content: start;
  width: 85%;
  /* background-color: aliceblue; */
  padding: 16px 0px;
  /* background: url(./assets/Line2.png) no-repeat; */
}
.edit-head h1 {
  font-size: 4.2vw;
  text-transform: uppercase;
  color: white;
  font-family: "Exo";
  background: url(./assets/Line2.png) no-repeat;
  background-position: bottom;
}
.edit-cont {
  display: flex;
  height: 55%;
  width: 88%;
  justify-content: space-between;
  gap: 30px !important;
  /* overflow-x: hidden; */
  align-items: center;
  /* flex-wrap: nowrap; */
  /* background-color: aliceblue; */
}
.slick-track {
  display: flex !important;
  gap: 30px !important;
}
.slick-slide{
  height: 300px !important;
  background-color: #6e00a960 !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 30px !important;
  width: 300px !important;
}
.slick-slider {
  display: flex !important;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.seperator {
  height: 40px;
  width: 100%;
  background: url(./assets/Separator.png);
  background-size: cover;
  margin-top: 70px;
  margin-bottom: 120px;
}
.contact {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 30px;
  /* background-color: blanchedalmond; */
}
.cont {
  /* background-color: aqua; */
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.cont-head {
  display: flex;
  justify-content: start;
  width: 90%;
  flex-direction: column;
  gap: 30px;
  /* background-color: aliceblue; */
  padding: 16px 0px;
}
.cont-head h1 {
  font-size: 4.2vw;
  text-transform: uppercase;
  color: white;
  font-family: "Exo";
  background: url(./assets/Line2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.top-btn {
  display: flex;
  height: 70%;
  gap: 10px;
  width: 20%;
  justify-content: center;
  align-items: end;
  /* background-color: #6e00a960; */
}
.top-btn h1{
  color: white;
  font-weight: 500;
}
.top-btn i{
  font-size: 35px;
  color: #6f00a9;
  cursor: pointer;
}
.top-btn a{
   transition: .3s;
  text-decoration: none;
}
.top-btn a:hover{
  transform: rotate(180deg);
}
.message {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}
.message label {
  color: white;
}
.message input {
  padding: 15px 10px;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
}
.message button {
  padding: 15px 50px;
  font-family: "Orbitron";
  color: white;
  font-weight: 500;
  border: none;
  transition: .3s;
  background-color: #6f00a9;
  cursor: pointer;
}
.message button:hover{
  background-color: black;
  color: #6f00a9;
  border: 1px solid #6f00a9;
}
.connect {
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-between;
  /* background-color: cadetblue; */
}
.phone i {
  font-size: 40px;
  color: #6f00a9;
}
.phone {
  display: flex;
  gap: 8px;
  /* background-color: aliceblue; */
  align-items: center;
}
.phone h4 {
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.conn-head{
  display: none;
}
@media screen and (max-width: 600px) and (min-width: 340px) {
  header {
    height: 90px;
    justify-content: center;
    gap: 90px;
  }
  .navBar {
    /* background-color: aliceblue; */
    width: auto;
  }
  .navlinks {
    display: none;
  }
  .icons {
    display: none;
  }
  .logo {
    font-size: 18px;
  }
  #mob-icons {
    /* height: 40px; */
    /* background-color: antiquewhite; */
    display: flex;
    gap: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  #mob-icons i {
    transition: 0.3s;
  }
  #mob-icons i:hover {
    color: #6f00a9;
  }
  .side-menu {
    display: flex;
    height: 100%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 30;
    top: 0;
    right: -80%;
    gap: 60px;
    padding-top: 150px !important;
    backdrop-filter: blur(15px);
  }
  .side-menu a {
    padding-top: -50px !important;
    text-decoration: none;
    color: white;
    font-family: "Exo";
    font-size: 30px;
  }
  #cross {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 4%;
    right: 10%;
  }
  .hero {
    background: black;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    /* height: 1000px; */
    /* margin-bottom: -20px; */
  }
  .left-text {
    width: 90%;
    height: 40%;
    /* background-color: aquamarine; */
  }
  .left-text .jimmy {
    font-size: 14px;
    width: 100px;
  }
  .left-text h1 {
    font-size: 8vw;
  }
  .left-text p {
    font-size: 12px;
  }
  .left-text .hero-btn {
    height: 40px;
    width: 150px;
    font-size: 12px;
  }
  .right-cont {
    background: url(./assets/mob-bg.png) no-repeat;
    background-size: cover;
    /* background-color: aliceblue; */
    /* height: 600px; */
    height: 50%;
    width: 100%;
  }
  .current1 {
    display: none;
  }
  .current2 {
    width: 130px !important;
    top: 28%;
    right: 0;
  }
  .ae {
    top: 18%;
    width: 50px;
  }
  .pr {
    top: 16%;
    right: 18%;
    width: 70px;
  }
  .man {
    width: 200px;
  }
  .slider {
    width: 100%;
    height: 42px;
    /* background-color: aliceblue; */
    /* margin-top: 20px; */
    display: flex;
    overflow-x: hidden;
    align-items: center;
  }
  .marque {
    display: flex;
    height: 30px;
    /* overflow-x: hidden; */
    /* width: 100%; */
    align-items: center;
    /* background-color: aqua; */
    /* margin-top: 20px; */
    gap: 20px;
    transform: translateX(52%);
  }
  .mark {
    gap: 13px;
    display: flex;
    text-wrap: nowrap;
    font-family: "Orbitron";
    font-size: 12px;
    font-weight: 500;
    color: white;
    align-items: center;
  }
  .about {
    /* background-color: aqua; */
    height: 300px;
    justify-content: start;
  }
  .abt-cont {
    height: 40%;
  }
  .abt-head h1 {
    font-size: 9vw;
  }
  .abt-head {
    background: url(./assets/Line.png) no-repeat bottom;
  }
  .abt-cont p {
    font-size: 13.4px;
  }
  .desk-slider {
    display: none;
  }
  .edits {
    height: 370px;
    width: 100%;
    /* justify-content: start; */
  }
  .edit-head {
    width: 90%;
  }
  .edit-head h1 {
    font-size: 7vw;
  }
  .edit-cont {
    height: 180px;
    align-items: start;
  }
  .slick-slide {
    height: 180px !important;
    width: 300px !important;
  }
  .slick-track {
    display: flex !important;
    gap: 10px !important;
  }
  .edit-cont {
    width: 90%;
  }
  .seperator {
    height: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .contact {
    height: 640px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .cont {
    height: 90%;
    width: 90%;
    align-items: center;
  }
  .top-btn {
    display: none;
  }
  .cont-head h1 {
    text-align: center;
    font-size: 7vw;
  }
  .cont-head {
    gap: 20px;
  }
  .message {
    flex-direction: column;
    height: 270px;
    align-items: center;
  }
  .connect {
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 200px;
    gap: 20px;
  }
  .phone i {
    font-size: 20px;
  }
  .phone h4 {
    font-size: 15px;
  }
  .conn-head {
    display: flex;
    justify-content: start;
    width: 85%;
    /* background-color: aliceblue; */
    padding: 16px 0px;
  }
  .conn-head h1 {
    font-size: 7vw;
    text-transform: uppercase;
    color: white;
    font-family: "Exo";
    background: url(./assets/Line2.png) no-repeat;
    background-position: bottom;
  }
}
